<?php 
use app\components\Urls;
use app\components\helper\StringHelper;

?>
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
<title>词语大全 - 聚培训</title>
<link rel="stylesheet" type="text/css" href="__MCSS__/list_h5.css" />
</head>
<body>
    <main class="page-wrap">
        <header class="header">
            <div class="sidebar">
                <a href="https://zuowen.jupeixun.cn"><i class="home"></i></a>
                <a href="https://zuowen.jupeixun.cn">聚培训</a>
                <code>&gt;</code>
                <a href="{:Urls::url('mobile_ciyu_category')}">词语大全</a><code>&gt;</code>
            </div>
        </header>
        <article class="page-bd">
            <section class="mod poem-filter-mod">
                <div class="main">
                    <header class="mod-hd">
                        <div class="filter-hd g-flex">
                            <div class="item" data-type="season">
                                类型:
                                {empty name="ctype"}不限
                                {else /} {$cType[$ctype]}
                                {/empty}
                            </div>
                            <div class="item" data-type="dynasty">
                                字数:
                                {empty name="charlen"}不限
                                {else /} {$zishuLenth[$charlen]}
                                {/empty}
                            </div>
                        </div>
                    </header>
                    <article class="mod-bd">
                        <div class="filter-bd">
                            <div class="option-wrap season">
                                <a class="item" href="{:Urls::url('mobile_category')}?len={$charlen}">不限</a>
                                {foreach name="cType" item="vo" key="k"}
                                <a class="item {if condition="$k eq $ctype"}active{/if}" href="{:Urls::url('mobile_ciyu_category',$k)}?type={$k}&len={$charlen}">{$vo}</a>
                                {/foreach}
                            </div>
                            <div class="option-wrap form">
                            </div>
                            <div class="option-wrap dynasty">
                                <a class="item" href="{:Urls::url('mobile_category')}?type={$ctype}">不限</a>
                                {foreach name="zishuLenth" item="vo" key="k"}
                                <a class="item {if condition="$k eq $charlen"}active{/if}" href="{:Urls::url('mobile_ciyu_category',$k)}?type={$ctype}&len={$k}">{$vo}</a>
                                {/foreach}
                            </div>
                        </div>
                    </article>
                </div>
                <div class="placeholder">
                </div>
            </section>
            <section class="mod phrase-word-list-mod mod-full">
                <article class="mod-bd js-waterfall-wrap mod-bd-full">
                    <div class="wrap clearfix">
                        {foreach name="list" item="vo" key="k"}
                        <div class="item phrase-item">
                            <a class="title" href="{:Urls::url('mobile_ciyu_detail',$vo['identify'])}">{$vo['title']}</a>
                            <div class="pronunciation pronunciation_0">
                                <span class="pinyin">
                                    [ {$vo['title_pinyin']} ]
                                </span>

                                {notempty name="vo['voice_file']"}
                                <a href="javascript:;" class="audio g-icon" data-audio="" data-src="{$vo['voice_file']}" id="audio_0" data-logid="phrase-list-ordinal_phrasetags_play_audio">
                                </a>
                                {/notempty}
                            </div>
                            <div class="desc">
                                <span class="item-text">
                                    {$vo['base_explain']}
                                </span>
                            </div>
                        </div>
                        {/foreach}

                    </div>
                </article>

                <footer class="mod-ft js-waterfall-more">
                    <!-- <div class="js-unfold-button" style="display: block;"><i class="icon"></i></div> -->

                    <div class="pagination" id="qaresult-page">
                       {$pages|raw}
                    </div>
                </footer>
            </section>
            <!--热门词语-->
            <section class="mod related-phrase hot-list">
                <header class="mod-hd">
                    <h2 class="title">热门词语</h2>
                </header>
                <div class="mod-bd js-unfold-content" data-max-height="122">
                    <div class="wrap clearfix">
                        <ul class="content g-flex w-4">
                            {foreach name="rand" item="vo" key="k"}
                            <li class="item">
                                <a href="{:Urls::url('mobile_ciyu_detail',$vo['identify'])}" class="link">
                                    {$vo['title']}
                                </a>
                            </li>
                            {/foreach}
                        </ul>
                    </div>
                </div>
                <footer class="mod-ft">
                    <div class="js-unfold-button">
                        <i class="icon">
                        </i>
                    </div>
                </footer>
            </section>
        </article>
    </main>
</body>
<script src="__MJS__/jquery.min.js" type="text/javascript"></script>
<script src="__MJS__/audio.js" type="text/javascript"></script>
<script type="text/javascript">
function getUrlParam(name) {
    var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
    var r = window.location.search.substr(1).match(reg);
    if (r != null) return unescape(r[2]);
    return null;
}

$('.filter-hd div.item').on('click', function(e) {
    e.stopPropagation();
    if (!$(this).parents('.main').hasClass('mask')) {
        $('body').addClass('g-hidden');
        $(this).addClass('active').parents('.main').addClass('mask');
        $(this).parents('section.mod').find('.filter-bd').find('.flex').removeClass('flex');
        $(this).parents('section.mod').find('.filter-bd').find('.' + $(this).data('type')).addClass('flex');
    } else {
        if ($(this).hasClass('active')) {
            $(this).removeClass('active').parents('.main').removeClass('mask');
            $(this).parents('section.mod').find('.filter-bd').find('.flex').removeClass('flex');
            $('body').removeClass('g-hidden');
        } else {
            $(this).parent('.filter-hd').find('.active').removeClass('active');
            $(this).addClass('active').parents('section.mod').find('.filter-bd').find('.flex').removeClass('flex');
            $(this).parents('section.mod').find('.filter-bd').find('.' + $(this).data('type')).addClass('flex');
        }
    }
});
$('.main').on('click', function() {
    if ($(this).hasClass('mask')) {
        $(this).removeClass('mask').find('.flex').removeClass('flex');
        $(this).find('div.item.active').removeClass('active');
        $('body').removeClass('g-hidden');
    }
});

webpackJsonp([6],{49:function(e,t,n){"use strict";function s(e){return e&&e.__esModule?e:{"default":e}}var r=n(6),i=s(r);n(1),n(50),n(2),n(4),n(3);var o=n(5);new o,new i.default},50:function(e,t){}},[49]);
</script>
{include file="public/tongji" /}

</html>