<?php

use app\Inc\TableConst;

$background = '';
if (defined('MODEL_ENV') && MODEL_ENV == 'dev') {
	$background = 'style="background-color: #f00;"';
}

?>
<aside class="Hui-admin-aside-wrapper">
	<div class="Hui-admin-logo-wrapper" {$background|raw}>
		<a class="logo navbar-logo" href="javascript:;">
			<i class="va-m iconpic global-logo"></i>
			<span class="va-m">后台管理系统</span>
		</a>
	</div>
	<div class="Hui-admin-menu-dropdown bk_2">
		<dl id="menu-home" class="Hui-menu">
	        <dd class="Hui-menu-item-frist">
	          <ul>
	            <li><a href="/admin/welcome" title="首页"><i class="Hui-iconfont">&#xe616;</i>&nbsp; 首页</a></li>
	          </ul>
	        </dd>
	    </dl>

	    {if condition="checkMenuPermis('author_page', $permis)"}
		<dl id="menu-author" class="Hui-menu">
			<dt class="Hui-menu-title selected">
				<i class="Hui-iconfont">&#xe626;</i> 作者管理<i class="Hui-iconfont Hui-admin-menu-dropdown-arrow">&#xe6d5;</i>
			</dt>
			<dd class="Hui-menu-item" {if condition="in_array($cname, ['chengyu.author','chengyu.tags']) || ($cname eq 'category.category' && $ctype eq TableConst::CATE_TYPE_AUTHOR)"}style="display:block"{/if}>
				<ul>
					<li {if condition="$routeUrl == '/cate/list' && $ctype eq TableConst::CATE_TYPE_AUTHOR"}class="current"{/if}><a href="/cate/list?ctype={:TableConst::CATE_TYPE_AUTHOR}">分类列表</a></li>
					
					{if condition="checkMenuPermis('author_auditlist', $permis)"}
					<li {if condition="$routeUrl == '/author/auditlist'"}class="current"{/if}><a href="/author/auditlist">作者审核</a></li>
					{/if}
					
					{if condition="checkMenuPermis('author_list', $permis)"}
					<li {if condition="$routeUrl == '/author/list'"}class="current"{/if}><a href="/author/list">作者列表</a></li>
					{/if}
				</ul>
			</dd>
		</dl>
		{/if}
			
		{if condition="checkMenuPermis('gepu_page', $permis)"}
		<dl id="menu-gepu" class="Hui-menu">
			<dt class="Hui-menu-title selected">
				<i class="Hui-iconfont">&#xe616;</i> 歌谱管理<i class="Hui-iconfont Hui-admin-menu-dropdown-arrow">&#xe6d5;</i>
			</dt>
			<dd class="Hui-menu-item" {if condition="in_array($cname, ['songs.gepu']) || ($cname eq 'category.category' && $ctype eq TableConst::CATE_TYPE_GEPU)"}style="display:block"{/if}>
				<ul>
					<li {if condition="$routeUrl == '/cate/list' && $ctype eq TableConst::CATE_TYPE_GEPU"}class="current"{/if}><a href="/cate/list?ctype={:TableConst::CATE_TYPE_GEPU}">分类列表</a></li>

					{if condition="checkMenuPermis('gepu_auditlist', $permis)"}
					<li {if condition="$routeUrl == '/gepu/auditlist'"}class="current"{/if}><a href="/gepu/auditlist">歌谱审核</a></li>
					{/if}

					{if condition="checkMenuPermis('gepu_list', $permis)"}
					<li {if condition="$routeUrl == '/gepu/list'"}class="current"{/if}><a href="/gepu/list">歌谱列表</a></li>
					{/if}
				</ul>
			</dd>
		</dl>
		{/if}
		
		{if condition="checkMenuPermis(['adminuser_list','permis_list','role_list'], $permis)"}
		<dl id="menu-admin" class="Hui-menu">
			<dt class="Hui-menu-title selected">
				<i class="Hui-iconfont">&#xe60d;</i> 管理员管理<i class="Hui-iconfont Hui-admin-menu-dropdown-arrow">&#xe6d5;</i>
			</dt>
			<dd class="Hui-menu-item" {if condition="in_array($cname, ['auth.adminuser','auth.permission','auth.role'])"}style="display:block"{/if}>
				<ul>
					{if condition="checkMenuPermis('adminuser_list', $permis)"}
					<li {if condition="$routeUrl == '/adminuser/list'"}class="current"{/if}><a href="/adminUser/list">管理员列表</a></li>
					{/if}

					{if condition="checkMenuPermis('permis_list', $permis)"}
					<li {if condition="$routeUrl == '/permission/list'"}class="current"{/if}><a href="/permission/list">权限列表</a></li>
					{/if}

					{if condition="checkMenuPermis('role_list', $permis)"}
					<li {if condition="$routeUrl == '/role/list'"}class="current"{/if}><a href="/role/list">角色列表</a></li>
					{/if}
				</ul>
			</dd>
		</dl>
		{/if}

		<dl id="menu-system" class="Hui-menu">
			<dt class="Hui-menu-title selected">
				<i class="Hui-iconfont">&#xe61d;</i> 系统管理<i class="Hui-iconfont Hui-admin-menu-dropdown-arrow">&#xe6d5;</i>
			</dt>
			<dd class="Hui-menu-item" {if condition="in_array($cname, ['system.cjdomain'])"}style="display:block"{/if}>
				<ul>
					{if condition="checkMenuPermis('config_crawler_list', $permis)"}
					<li {if condition="$routeUrl == '/system/cjdomain/list'"}class="current"{/if}><a href="/system/cjdomain/list">采集站点列表</a></li>
					{/if}
				</ul>
			</dd>
		</dl>

	</div>
</aside>
<div class="Hui-admin-aside-mask"></div>
<div class="Hui-admin-dislpayArrow">
	<a href="javascript:void(0);" onClick="displaynavbar(this)">
		<i class="Hui-iconfont Hui-iconfont-left">&#xe6d4;</i>
		<i class="Hui-iconfont Hui-iconfont-right">&#xe6d7;</i>
	</a>
</div>