<!DOCTYPE HTML>
<html>
<head>
	{include file="public/meta" /}
	<title>页面无权限访问</title>
	<meta name="keywords" content="">
	<meta name="description" content="">
</head>
<body>
	{include file="public/menu" /}
		<div class="Hui-admin-article">
			<nav class="breadcrumb" style="background-color:#fff;padding: 0 24px">
				首页
				<span class="c-gray en">/</span>
				无权限访问
			</nav>

			<article class="Hui-admin-content clearfix">
				<div class="page-error text-c">
					<p class="error-title"><i class="Hui-iconfont va-m">&#xe688;</i>
						<span class="va-m"> Sorry</span>
					</p>
					<p class="error-description">抱歉，您访问的页面没有权限~</p>
					<!-- <p class="error-info">您可以：
						<a href="javascript:;" onclick="history.go(-1)" class="c-primary">&lt; 返回上一页</a>
						<span class="ml-20">|</span>
						<a href="/" class="c-primary ml-20">去首页 &gt;</a>
					</p> -->
				</div>
			</article>
		</div>
	</section>

	{include file="public/footer" /}
</body>
</html>
