<?php 
use app\components\Urls;

?>
<!DOCTYPE HTML>
<html>
<head>
	{include file="public/meta" /}
	<title>歌谱审核 - 歌谱管理</title>
	<meta name="keywords" content="">
	<meta name="description" content="">
</head>
<body>
	{include file="public/menu" /}
	<section class="Hui-admin-article-wrapper">
		{include file="public/header" /}

		<div class="Hui-admin-article">
			<nav class="breadcrumb" style="background-color:#fff;padding: 0 24px">
				首页
				<span class="c-gray en">/</span>
				歌谱管理
				<span class="c-gray en">/</span>
				歌谱列表
			</nav>
			<article class="Hui-admin-content clearfix">
				<div class="panel">
					<form action="/gepu/auditlist" method="get" class="form form-horizontal" id="form-horizontal">
					<div class="panel-body">
						<div class="row clearfix">
							<div class="col-xs-12 col-sm-6 col-md-4">
								<div class="row clearfix mb-10">
									<span class="col-xs-4 form-item-label">选择分类：</span>
									<span class="col-xs-8 form-item-control">
										<span class="select-box">
											<select id="cid" name="cid" class="select">
												<option value="0">全部分类</option>
												{foreach name="cateTree" item="vo"}
												<option value="{$vo['id']}" {if condition="$vo['id'] eq $cid"}selected{/if}>{$vo['_name']|raw}</option>
												{/foreach}
											</select>
										</span>
									</span>
								</div>
							</div>

							<div class="col-xs-12 col-sm-6 col-md-4">
								<div class="row clearfix mb-10">
									<span class="col-xs-4 form-item-label">发布状态：</span>
									<span class="col-xs-8 form-item-control">
										<span class="select-box">
											<select id="push" name="push" class="select">
												<option value="0">请选择</option>
												<option value="2" {if condition="$push eq '2'"}selected{/if}>已发布</option>
												<option value="0" {if condition="$push eq '0'"}selected{/if}>未发布</option>
											</select>
										</span>
									</span>
								</div>
							</div>

							<div class="col-xs-12 col-sm-6 col-md-4">
								<div class="row clearfix mb-10">
									<span class="col-xs-4 form-item-label">歌谱名称：</span>
									<span class="col-xs-8 form-item-control">
										<input type="text" name="sname" id="search-input" placeholder="名称或ID：" value="{$sname}" class="input-text" />
									</span>
								</div>
							</div>
							<div class="col-xs-12 col-sm-6 col-md-4">
								<div class="row clearfix">
									<span class="col-xs-4 form-item-control">
										<button name="" id="search-submit" class="btn btn-success radius" type="submit"><i class="Hui-iconfont">&#xe665;</i> 搜索</button>
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				</form>
				
				<div class="panel mt-20">
					<div class="panel-body">
						<div class="clearfix">
							<span class="f-l">
								{notempty name="permis['gepu_add']"}
								&nbsp;&nbsp;
								<a class="btn btn-primary radius" onclick="article_add('添加歌谱','/gepu/add')" href="javascript:;"><i class="Hui-iconfont">&#xe600;</i> 添加歌谱</a>
								{/notempty}
							</span>
							<span class="f-r">共有数据：<strong>{$total}</strong> 条</span>
						</div>
						<div class="dataTables_wrapper mt-20 clearfix">
							<table id="data-table-list" class="table table-border table-bordered table-bg table-hover table-sort">
								<thead>
									<tr class="text-c">
										<!-- <th width="25"><input type="checkbox" id="selectCheckbox" name="" value=""></th> -->
										<th width="60">ID</th>
										<th width="250">名称</th>
										<th width="100">所属分类</th>
										<th width="120">更新时间</th>
										<th width="60">审核状态</th>
										<th width="60">发布状态</th>
										<th width="150">操作</th>
									</tr>
								</thead>
								<tbody class="getData-list" data-currPage='1'>
									{foreach name="list" item="vo"}
									<tr class="text-c">
										<!-- <td><input type="checkbox" value="{$vo['id']}" name="ids[]"></td> -->
										<td>{$vo['id']}</td>
										<td class="text-l">
											<a href="javascript:window.open('{:Urls::url('mobile_gepu_detail',$vo['identify'])}','_blank')"><u style="cursor:pointer" class="text-primary" title="前往页面">{$vo['title']}</u></a>

											{notempty name="vo['cjurl']"}
											&nbsp;&nbsp;
											【<a class="c-blue" href="javascript:window.open('{$vo['cjurl']}','_blank')">采集源</a>】
											{/notempty}
										</td>
										<td>
											{$vo['catname']}
										</td>
										<td>{$vo['addtime']}</td>
										<td class="td-status">
											{if condition="($vo['status'] == 0) or ($vo['status'] == 1)"}
											<span class="label label-default radius size-M">待审核</span>
											{elseif condition="$vo['status'] == 2"/}
											<span class="label label-danger radius size-M">删除</span>
											{elseif condition="$vo['status'] == 3"/}
											<span class="label label-success radius size-L">审核通过</span>
											{/if}
										</td>
										<td class="td-push">
											{if condition="($vo['is_show'] == 0) or ($vo['is_show'] == 1)"}
											<span class="label label-default radius size-M">未发布</span>
											{elseif condition="$vo['is_show'] == 2"/}
											<span class="label label-success radius size-L">已发布</span>
											{/if}
										</td>
										<td class="f-12 td-manage">
											{notempty name="permis['gepu_del']"}
											<a class="btn btn-danger-outline radius size-MINI ml-5" onClick="changeDel(this,'{$vo['id']}')" href="javascript:;">删除</a>
											{/notempty}

											{notempty name="permis['gepu_edit']"}
											<a class="btn btn-secondary-outline radius size-MINI ml-5" onClick="article_edit('编辑','/gepu/edit?id={$vo['id']}')" href="javascript:;">编辑</a>
											{/notempty}

											{notempty name="permis['gepu_view']"}
											<a class="btn btn-secondary-outline radius size-MINI ml-5" onClick="article_edit('查看','/gepu/edit?act=view&id={$vo['id']}',800,400)" href="javascript:;">查看</a>
											{/notempty}
											
											<span style="display: block;margin-top: 5px;"></span>
											{notempty name="permis['gepu_pass']"}
											<a class="btn btn-success-outline radius size-MINI ml-5" onClick="changePass(this,'{$vo['id']}')" href="javascript:;">审核通过</a>
											{/notempty}
				
											{notempty name="permis['gepu_push']"}
											<a class="btn btn-success-outline radius size-MINI ml-5" onClick="changePush(this,'{$vo['id']}')" href="javascript:;">前台发布</a>
											{/notempty}
										</td>
									</tr>
									{/foreach}
								</tbody>
							</table>
							<div class="dataTables_paginate paging_full_numbers">
								{$pages|raw}
							</div>
						</div>
					</div>
				</div>
			</article>
		</div>
	</section>

	{include file="public/footer" /}

	<script type="text/javascript">

		/**
		* 全选
		*/
		$("#selectCheckbox").click(function(){    
			$("input[name='ids[]']:checkbox").prop('checked', this.checked);
		});

		/**
		* 删除-状态变更
		*/
		function changeDel(obj, id)
		{
			layer.confirm('确认要删除吗？',function(index){
				var url = '/gepu/changeDel?id='+id;
				$.getJSON(url, function(result){
					if(result.code == '2000') {
						layer.msg(result.msg, {icon:1, time:2000});
						$(obj).parents("tr").find(".td-status").html('<span class="label label-danger radius size-M">删除</span>')
						$(obj).hide();
					}else {
						layer.msg(result.msg, {icon:2, time:2000});
					}
				});
			});
		}

		/**
		* 审核通过-状态变更
		*/
		function changePass(obj, id)
		{
			layer.confirm('确认要审核通过吗？',function(index){
				var url = '/gepu/changePass?id='+id;
				$.getJSON(url, function(result){
					if(result.code == '2000') {
						layer.msg(result.msg, {icon:1, time:2000});
						$(obj).parents("tr").find(".td-status").html('<span class="label label-success radius size-L">审核通过</span>')
						$(obj).hide();
					}else {
						layer.msg(result.msg, {icon:2, time:2000});
					}
				});
			});
		}

		/**
		* 前台发布-状态变更
		*/
		function changePush(obj, id)
		{
			layer.confirm('确认要前台发布吗？',function(index){
				var url = '/gepu/changePush?id='+id;
				$.getJSON(url, function(result){
					if(result.code == '2000') {
						layer.msg(result.msg, {icon:1, time:2000});
						$(obj).parents("tr").find(".td-push").html('<span class="label label-success radius size-L">已发布</span>')
						$(obj).hide();
					}else {
						layer.msg(result.msg, {icon:2, time:2000});
					}
				});
			});
		}
		
	</script>
</body>
</html>