<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  <meta name="renderer" content="webkit|ie-comp|ie-stand">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <!--[if lt IE 9]>
  <script type="text/javascript" src="__SKINADMIN__/lib/html5.js"></script>
  <script type="text/javascript" src="__SKINADMIN__/lib/respond.min.js"></script>
  <![endif]-->
  <link rel="stylesheet" type="text/css" href="__SKINADMIN__/static/h-ui/css/H-ui.min.css" />
  <link rel="stylesheet" type="text/css" href="__SKINADMIN__/static/h-ui.admin.pro/css/H-ui.login.min.css" />
  <link rel="stylesheet" type="text/css" href="__SKINADMIN__/lib/Hui-iconfont/1.0.9/iconfont.css" />
  <link rel="stylesheet" type="text/css" href="__SKINADMIN__/static/business/css/style.css" />
  <!--[if IE 6]>
  <script type="text/javascript" src="http://lib.h-ui.net/DD_belatedPNG_0.0.8a-min.js" ></script>
  <script>DD_belatedPNG.fix('*');</script><![endif]-->
  <title>后台管理系统 - {$Think.SITE_NAME}</title>
  <meta name="keywords" content="">
  <meta name="description" content="">
</head>
<body>
  <input type="hidden" id="TenantId" name="TenantId" value="" />
  <div class="header" style="background:0 none;"></div>
  <div class="loginWraper">
    <div class="loginBox">
      <form class="form form-horizontal" id="form-horizontal" action="/page/login" method="post">
        <div class="row clearfix">
          <label class="form-label col-xs-3"><i class="Hui-iconfont">&#xe60d;</i></label>
          <div class="form-controls col-xs-7">
            <input id="username" name="username" type="text" placeholder="账户" class="input-text size-L">
          </div>
        </div>
        <div class="row clearfix">
          <label class="form-label col-xs-3"><i class="Hui-iconfont">&#xe60e;</i></label>
          <div class="form-controls col-xs-7">
            <input id="password" name="password" type="password" placeholder="密码" class="input-text size-L">
          </div>
        </div>
        <!-- <div class="row clearfix">
          <div class="form-controls col-xs-7 col-xs-offset-3" id="captcha-container">
            <input id="verificationCode" name="verificationCode" class="input-text size-L" type="text" placeholder="验证码" onblur="if(this.value==''){this.value='验证码:'}" onclick="if(this.value=='验证码:'){this.value='';}" value="" style="width:150px;">
            <img src="{:captcha_src()}" width="150" height="40" alt="点击刷新" />
          </div>
        </div> -->
        <div class="row clearfix">
          <div class="form-controls col-xs-7 col-xs-offset-3">
            <label for="online">
              <input type="checkbox" name="online" id="online" value="">
          使我保持登录状态
            </label>
          </div>
        </div>
        <div class="row clearfix">
          <div class="form-controls col-xs-8 col-xs-offset-3">
            <input name="" type="submit" class="btn btn-success radius size-L" value="&nbsp;登&nbsp;&nbsp;&nbsp;&nbsp;录&nbsp;">&nbsp;&nbsp;
            <input name="" type="reset" class="btn btn-default radius size-L" value="&nbsp;取&nbsp;&nbsp;&nbsp;&nbsp;消&nbsp;">
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="footer">Copyright {$Think.SITE_NAME}管理系统 {$Think.WWW_DOMAIN}</div>

<script type="text/javascript" src="__SKINADMIN__/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="__SKINADMIN__/static/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="__SKINADMIN__/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="__SKINADMIN__/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="__SKINADMIN__/lib/jquery.validation/1.14.0/messages_zh.js"></script>
<script type="text/javascript">
//验证码生成 
function clickVerify()
{
  var captcha_img = $('#captcha-container').find('img')  
  var verifyimg = captcha_img.attr("src");  
  captcha_img.attr('title', '点击刷新');  
  captcha_img.click(function(){  
    if( verifyimg.indexOf('?')>0){  
      $(this).attr("src", verifyimg+'&random='+Math.random());  
    }else{  
      $(this).attr("src", verifyimg.replace(/\?.*$/,'')+'?'+Math.random());  
    }  
  });
}

function showResponse(responseText, statusText){
  if(responseText.code == '2000') {
    alert('登录成功');
    location.href = '/admin/welcome';
    return false;
  } else {
    alert(responseText.msg);
    return false;
  }
}

$(function(){
  // clickVerify();

  $("#form-horizontal").validate({
    rules: {
      
    },
    onkeyup: false,
    focusCleanup: true,
    success: "valid",
    submitHandler: function(form){
      var options = {
        success: showResponse,
        dataType: 'json',
        //resetForm: true,
      };
      $(form).ajaxSubmit(options);
    }  
  });


});

</script>
</body>
</html>
