<!--title-->
<div id="header">
<!--左侧跳转-->
<ul class="header-menu f-l">
    <li>
        <a class="b-r" href="https://zw.jupeixun.cn">作文网首页</a></li>
</ul>
<!--注册登录及网站地图-->
<ul class="header-map f-r">
    <li>
        <a href="https://zuowen.jupeixun.cn">手机版</a></li>
</ul>
</div>
<!--搜索框及logo-->
<div id="search">
<div class="bg-logo"></div>
<div class="bg-logobg"></div>
</div>
<!--导航-->
<div id="nav">
<div class="nav-onelevel">
    <ul>
        <li><a href="https://zw.jupeixun.cn">首页</a></li>
        <li><a href="https://zw.jupeixun.cn/list/c1/">小学作文</a></li>
        <li><a href="https://zw.jupeixun.cn/list/c2/">初中作文</a></li>
        <li><a href="https://zw.jupeixun.cn/gaozhong/">高中作文</a></li>
        <li><a href="https://zw.jupeixun.cn/list/c229/">单元作文</a></li>
        <li><a href="https://zw.jupeixun.cn/list/c199/">英语作文</a></li>
        <!--<li><a href="https://zw.jupeixun.cn/list/c222/">写作指导</a></li>-->
        <li><a href="https://zw.jupeixun.cn/list/c178/">作文素材</a></li>
        <li><a href="https://zw.jupeixun.cn/juzi/">精选句子</a></li>
        <li><a href="https://cy.jupeixun.cn/ciyu/">词语大全</a></li>
        <li><a href="https://cy.jupeixun.cn/chengyu/">成语大全</a></li>
    </ul>
</div>
</div>  
